.centerAddVehicle {
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    min-height: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
}

.addVehicleBoarder {
    background-color: #b99566;
    border: 5px solid black;
    border-radius: 10px;
    padding: 25px;
    width: 730px;
    height: 510px;
}

.AddCarHeader {
    color: red;
}

.errorDivForAddCar {
    height: 40px;
    padding-top: 10px;
    padding-bottom: 5px;
    color:red;
}

.AddCarSelectOwner{
 width: 500px;
 margin-bottom:5px;
}

.addCarButtons {
    padding: 20px;
}
