.centerChangePasswordGrid {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    min-height: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding-bottom: 40px;
}

.ChangePasswordBoarder {
    background-color: #b99566;
    border: 5px solid black;
    border-radius: 10px;
    padding: 25px;
    width: 660px;
    height: 450px;
}

.ChangePasswordHeader {
    color: red;
}

.errorDivForChangePassword {
    height: 40px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: red;
}

.ChangePasswordButtons {
    padding: 20px;
}
