.centerLoginSubmit {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    min-height: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
}

.loginBoxSubmit {
    background-color: #b99566;
    border: 5px solid black;
    border-radius: 10px;
    width: 50%;
    height: 35%;
}

.loginHeader {
    text-align: center;
    color: red;
}

.LoginStatus {
    padding-top: 5%;
    color:green;
}

.loginErrorHeader{
    padding-top: 5%;
}

.loginButton {
    padding-top: 5%;
    padding-bottom: 5%;
}
