.centerMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
}

.MenuHeader {
    text-align: center;
    color: red;
}

.MenuBox {
    background-color: #b99566;
    border: 5px solid black;
    border-radius: 10px;
    width: 670px;
    height: 500px;
}

.ButtonGroup {
    padding-bottom: 15px;
}

.UserStatus {
    padding-top: 5%;
    color: green;
}