.PersonId{
    background-color: darkgoldenrod;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    width: 200px;
    text-align: center;
}

.PeopleSuroundBorder {
    border: 5px solid black;
}

.PeopleSuroundList {
    background-color: #b99566;
    border: 5px solid black;
    border-radius: 10px;
    padding: 50px;
}


.Address {
    background-color: darkgoldenrod;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

.DOB {
    background-color: darkgoldenrod;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    width: 180px;
    word-wrap: break-word;
    text-align: center;
}

.fistName {
    background-color: darkgoldenrod;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    width: 150px;
    text-align: center;
}

.lastName {
    background-color: darkgoldenrod;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    width: 150px;
    text-align: center;
}

.license {
    background-color: darkgoldenrod;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    width: 200px;
    word-wrap: break-word;
    text-align: center;
}

.ownedVehicles {
    background-color: darkgoldenrod;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    width: 150px;
    text-align: center;
}

.OffenceListButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
