.NumberPlate {
    background-color: darkgoldenrod;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    width: 200px;
    text-align: center;
}

.PersonCarBorder {
    border: 5px solid black;
}

.PersonCarList {
    background-color: #b99566;
    border: 5px solid black;
    border-radius: 10px;
    padding: 50px;
}


.PeopleBrand {
    background-color: darkgoldenrod;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

.PeopleModel {
    background-color: darkgoldenrod;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    width: 180px;
    word-wrap: break-word;
    text-align: center;
}

.PeopleColor {
    background-color: darkgoldenrod;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    width: 150px;
    text-align: center;
}

.OwnerId {
    background-color: darkgoldenrod;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    width: 150px;
    text-align: center;
}

.PeopleCarListButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
