.centerReportSearch {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    min-height: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
}

.ReportSearchBox {
    background-color: #b99566;
    border: 5px solid black;
    border-radius: 10px;
    width: 650px;
    height: 300px;
}

.ReportSearchHeader {
    text-align: center;
    color: red;
}

.ReportSearchStatus {
    height: 80px;
    color: red;
}

.ReportSearchInfo {
    padding-top: 15px;
}

.ReportSearchErrorHeader {
    height: 50px;
    padding-top: 5%;
}

.ReportSearchButton {
    padding-top: 5%;
    padding-bottom: 5%;
}
