@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="page">
    <main>
        <article>
            @Body
        </article>
    </main>
</div>
