.SuroundTableResults[b-i2881fosdw] {
    border: 5px solid black;
}

.FieldBorder[b-i2881fosdw] {
    background-color: darkgoldenrod;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    width: 200px;
    text-align: center;
}
