@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<div class="centerLogin">
    <div class="indexHeader">
        <h1>Traffic Police</h1>
    </div>
    
    <div class="loginBox">
        <div>
            <h4 class="welcomeHeader">Welcome Officer!</h4>
        </div>

        <div class="welcomeButton">
            <button class="button1" @onclick="NavigateTo">Start Login</button>
        </div>
    </div>
</div>

