@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<div>
    <h1>Traffic Police</h1>

    <p>Welcome Officer!</p>.
    <button @onclick="NavigateTo">Start Login</button>
</div>

