@page "/Menu"

<div>
    <h1>Menu</h1>
    <h2>Hello OffinceName</h2>

    <div>
        <button>Offence List</button>
        <button>People Search</button>
        <button>Vehicle Search</button>
        <button>Report Search</button>
        <button>Make Report</button>
        <button>Change Password</button>
    </div>
    <div>
        <button>Logout</button>
    </div>

</div>

