@page "/Menu"
@inject NavigationManager NavigationManager

<div>
    <h1>Menu</h1>
    <h2>Logged In As @officerName</h2>

    <div>
        <button @onclick="OffenceList">Offence List</button>
        <button>People Search</button>
        <button>Vehicle Search</button>
        <button>Report Search</button>
        <button>Make Report</button>
        <button>Change Password</button>
    </div>
    <div>
        <button>Logout</button>
    </div>

</div>

