@page "/Menu"
@inject NavigationManager NavigationManager

<div>
    <h1>Menu</h1>
    <h2>Logged In As @officerName</h2>

    <div>
        <button @onclick="OffenceList">Offence List</button>
        <button @onclick="PeopleSearch">People Search</button>
        <button @onclick="VehicleSearch">Vehicle Search</button>
        <button @onclick="ReportSearch">Report Search</button>
        <button @onclick="AddPerson">Add Offender</button>
        <button @onclick="AddVehicle">Add Vehicle</button>
        <button @onclick="MakeReport">Make Report</button>
        <button @onclick="changePassword">Change Password</button>
    </div>
    <div>
        <button @onclick="Logout">Logout</button>
    </div>

</div>

