@page "/offenceList"
@inject NavigationManager NavigationManager
@inject HttpClient Http

<div>
    <h1>OffenceList</h1>

    <div>
        <div style="display:flex; flex-direction:row;">
            <div>Offence ID</div>
            <div>Description</div>
            <div>MaxFine</div>
            <div>MaxPoints</div>
        </div>
        @foreach (var row in offences)
        {
            <div style="display:flex; flex-direction:row;">
                @foreach (var prop in row.GetType().GetProperties())
                {
                    <div>@(prop.GetValue(row) ?? "N/A")</div>
                }
            </div>
        }
    </div>

    <div>
        <button @onclick="Goback">Go Back</button>
    </div>
</div>

