@page "/PeopleResults"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using TrafficPoliceBlazor.Client.Components

<div class="PeopleSuroundList">
    <h3>People Results</h3>
    <SearchResultsTableLink tableContent="@people" columnsToDisplay='new string[]{"people_id", "address", "date_of_birth", "first_name", "last_name", "license_number"}' LinkPrefix="/PersonCars?id=" SearchColumn="people_id" />
    <div class="OffenceListButton">
        <button class="button1" @onclick="Goback">Go Back</button>
    </div>
</div>


