@page "/PersonCars"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using TrafficPoliceBlazor.Client.Components


<AuthorizeView>

    <NotAuthorized>
        <CriminalScum />
    </NotAuthorized>

    <Authorized>
        <div class="PersonCarList">
            <h3>Person's Cars</h3>

            <SearchResultsTable tableContent="@cars" />

            <h1>@error</h1>

            <div class="PeopleCarListButton">
                <button class="button1" @onclick="Goback">Go Back</button>
            </div>
        </div>
    </Authorized>
</AuthorizeView>




