@page "/ReportResults"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using TrafficPoliceBlazor.Client.Components

<AuthorizeView>

    <NotAuthorized>
        <CriminalScum />
    </NotAuthorized>
    <Authorized>
        <div class="SuroundReportResultsList">
            <h3>Report Results</h3>

            <SearchResultsTableLink tableContent="@reports" columnsToDisplay='new string[]{"report_id", "author", "car_id", "people_id", "offence_id", "report_date"}' LinkPrefix="/ReportDetails?Search=" SearchColumn="report_id" />

            <div class="CarResultsListButton">
                <button class="button1" @onclick="Goback">Go Back</button>
            </div>
        </div>
    </Authorized>
</AuthorizeView>
