@page "/"
@inject NavigationManager NavigationManager;

<PageTitle>Index</PageTitle>

<div>
    <h1>@headerName</h1>

    <p>Welcome Officer!</p>.
    <button @onclick="NavigateToPage">Start Login</button>
</div>

