@inject NavigationManager NavigationManager

<div class="centerCriminal">
    <h1 class="CriminalHeader">STOP!</h1>

    <div class="CriminalBox">
        <div>
            <iframe src="https://www.youtube.com/embed/OCsMKypvmB0?ecver=1&amp;iv_load_policy=3&amp;rel=0&amp;showinfo=0&amp;yt:stretch=16:9&amp;autohide=1&amp;color=red&amp;width=560&amp;width=560" width="560" height="315" allowtransparency="true" frameborder="0"></iframe>
        </div>

        <div class="criminalButton">
            <button class="button1" @onclick="GoToLogin">Or be a good boy and login !</button>
        </div>

    </div>
</div>

