<div class="SuroundTableResults">
    <div style="display:flex; flex-direction:row;">
        @if (tableContent != null)
        {
            var firstElement = ((IEnumerable<object>)tableContent).FirstOrDefault();
            if (firstElement != null)
            {
                var propertyNames = firstElement.GetType().GetProperties().Select(p => p.Name);
                <div style="display:flex; flex-direction:row;">
                    <!-- Getting names for each column -->
                    @foreach (var name in propertyNames)
                    {
                        <div class="FieldBorder">@name</div>
                    }
                </div>
            }
        }
    </div>

    @if (tableContent != null)
    {
        foreach (var row in (IEnumerable<object>)tableContent)
        {
            <div style="display:flex; flex-direction:row;">

                @foreach (var prop in row.GetType().GetProperties())
                {
                    var value = prop.GetValue(row);
                    <div class="FieldBorder">@value</div>
                }

            </div>
        }
    }
</div>